{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
    "no-undef": 1,
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error", "info"]
      }
    ],
    "no-class-assign": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "no-func-assign": "off",
    "react-hooks/exhaustive-deps": "off",
    "complexity": ["error", 6],
    "react/react-in-jsx-scope": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "newlines-between": "always"
      }
    ],
    "react/self-closing-comp": "error"
  },
  "plugins": ["import"],
  "globals": {
    "mq": true,
    "css": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
